# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/.maven-wrapper.properties

# IDEs and Editors
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
Thumbs.db
desktop.ini
.DS_Store
